h1 {
    margin: 10px;
    text-align: center;
}

h4 {
    text-align: center;
}

.header__container {
    width: 100%;
    height: 150px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu {
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu li {
    display: inline;
    padding-left: 250px;
}

.menu li a {
    text-decoration: none;
}

.main__container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left_card {
    width: 25%;
    
}

.left_card img {
    width: 100%;
    height: auto;
}

.center {
    width: 50%;
    
}


.center img {
    width: 100%;
    height: auto;
}

.right_card {
    width: 25%;
    
}

.right_card img {
    width: 100%;
    height: auto;
}

.footer__container {
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    gap: 350px;
    padding: 40px;
}

.footer__container ul {
    list-style: none;
}

#hidden {
    display: none;
}

.right_float img {
    float: right;
}

#clear {
    clear: both;
}

.colonne {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
