@media only screen and (max-width: 600px) {
   .grid-container {
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    row-gap: 5px;
    column-gap: 2px;
    display: grid;
    grid-template-areas: 
    'schermo schermo schermo schermo schermo'
    'uno due tre addizione sottrazione'
    'quattro cinque sei moltiplicazione divisione'
    'sette otto nove zero uguale';
    justify-content:center;
}

.grid-container div {
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}

.schermo {
    grid-area: schermo;
}

.uno {
    grid-area: uno;
}

.due {
    grid-area: due;
}

.tre {
    grid-area: tre;
}

.quattro {
    grid-area: quattro;
}

.cinque {
    grid-area: cinque;
}

.sei {
    grid-area: sei;
}

.sette {
    grid-area: sette;
}

.otto {
    grid-area: otto;
}

.nove {
    grid-area: nove;
}

.zero {
    grid-area: zero;
}

.addizione {
    grid-area: addizione;
}

.sottrazione {
    grid-area: sottrazione;
}

.moltiplicazione {
    grid-area: moltiplicazione;
}

.divisione {
    grid-area: divisione;
}

.uguale {
    grid-area: uguale;
}


}

.full_screen {
    width: 100vw;
    height: 100vh;
    background-color: rgb(108, 36, 12);
    margin: 0;
}

