p {
    color: red;
}

#para {
    color: pink;
}

.grafo {
    color: brown;
}

h1, h2 {
    color: green;
}


h3 {
    color: black;
}


h4, h5 {
    color: red;
}

#sfondo {
    background-color: bisque;
}

.size {
    font-size: 30px;
}

.color {
    color: coral;
}

.style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grassetto {
    font-weight: bold;
}

* {
    text-align: center;
}

a:hover {
    color: purple;
}

li:last-child {
    color: blueviolet;
    font-weight: bold;
    font-size: 50px;
}

li {
    text-align: left !important;
}

#RGB {
    color: rgb(255, 0, 0);
}

#HEX {
    color: #FF0000;
}

#RGBA {
    color: rgba(255, 0, 0, 0.7);
}